# Forecasting Energy Demand - Milestone 1

This Jupyter notebook serves as a partial solution to Milestone 1 of the liveProject on forecasting energy demand in Python. It is the full solution with all of the code removed.

## Importing Necessary Libraries and Functions

The first thing we need to do is import the necessary functions and libraries that we will be working with throughout the topic. We should also go ahead and upload all the of the necessary data sets here instead of loading them as we go. We will be using energy production data from PJM Interconnection. They are a regional transmission organization that coordinates the movement of wholesale electricity in parts of the United States. Specifically, we will be focused on a region of Pennsylvania. We will also be using temperature data collected from the National Oceanic and Atmospheric Assocation (NOAA).

In [3]:
# !conda update -n base -c defaults conda
#
# !conda install pandas -y
# !conda install numpy -y
# !conda install matplotlib -y

Der Befehl "conda" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.
Der Befehl "conda" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.
Der Befehl "conda" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.
Der Befehl "conda" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Preparing the Energy and Temperature Data

First we need to load our weather and energy data sets for cleaning. Let's use the pandas library and the ```read.csv``` function to do this.

In [6]:
temp = pd.read_csv('hr_temp_20170201-20200131_subset.csv')

,STATION,DATE,REPORT_TYPE,SOURCE,HourlyDryBulbTemperature
0,72520514762,2017-02-01T00:53:00,FM-15,7,37.0
1,72520514762,2017-02-01T01:53:00,FM-15,7,37.0
2,72520514762,2017-02-01T02:53:00,FM-15,7,36.0
3,72520514762,2017-02-01T03:53:00,FM-15,7,36.0
4,72520514762,2017-02-01T04:53:00,FM-15,7,36.0

In [7]:
load = pd.read_csv('hrl_load_metered - 20170201-20200131.csv')
load.head()

,datetime_beginning_utc,datetime_beginning_ept,nerc_region,mkt_region,zone,load_area,mw,is_verified
0,2/1/2017 5:00,2/1/2017 0:00,RFC,WEST,DUQ,DUQ,1419.881,True
1,2/1/2017 6:00,2/1/2017 1:00,RFC,WEST,DUQ,DUQ,1379.505,True
2,2/1/2017 7:00,2/1/2017 2:00,RFC,WEST,DUQ,DUQ,1366.106,True
3,2/1/2017 8:00,2/1/2017 3:00,RFC,WEST,DUQ,DUQ,1364.453,True
4,2/1/2017 9:00,2/1/2017 4:00,RFC,WEST,DUQ,DUQ,1391.265,True

It is always good practice to take a look at the first few observations of the data set to make sure that everything looks like how we expected it to when we read in our CSV file. Let's use the ```head``` function for this.

In [8]:
temp.head()

,STATION,DATE,REPORT_TYPE,SOURCE,HourlyDryBulbTemperature
0,72520514762,2017-02-01T00:53:00,FM-15,7,37.0
1,72520514762,2017-02-01T01:53:00,FM-15,7,37.0
2,72520514762,2017-02-01T02:53:00,FM-15,7,36.0
3,72520514762,2017-02-01T03:53:00,FM-15,7,36.0
4,72520514762,2017-02-01T04:53:00,FM-15,7,36.0

Perfect! We have temperature as well as time. There are some other pieces of information like the station number, source of the reading and reading type, but we don't need those.

Let's take a look at the first few observations of the energy data as well!

In [10]:
load.head()

,datetime_beginning_utc,datetime_beginning_ept,nerc_region,mkt_region,zone,load_area,mw,is_verified
0,2/1/2017 5:00,2/1/2017 0:00,RFC,WEST,DUQ,DUQ,1419.881,True
1,2/1/2017 6:00,2/1/2017 1:00,RFC,WEST,DUQ,DUQ,1379.505,True
2,2/1/2017 7:00,2/1/2017 2:00,RFC,WEST,DUQ,DUQ,1366.106,True
3,2/1/2017 8:00,2/1/2017 3:00,RFC,WEST,DUQ,DUQ,1364.453,True
4,2/1/2017 9:00,2/1/2017 4:00,RFC,WEST,DUQ,DUQ,1391.265,True

Great! Again, we have the important information of time as well as megawatt (MW) readings per hour. Again, there are some other varibales that we won't end up using in this data set as well.

Let's get rid of the variables we don't need and combine the variables that we do need into one pandas data frame. Dictionaries are an easy way of doing this. Here, we are pulling the MW column from the energy data set as well as the temperature and date columns from the weather data set. These data sets already line up on time which makes this much easier.

Now let's create our pandas data frame.

In [15]:
data = pd.DataFrame({
    'date': temp['DATE'],
    'temp': temp['HourlyDryBulbTemperature'],
    'mw': load['mw']
})
data.head()

                  date  temp        mw
0  2017-02-01T00:53:00  37.0  1419.881
1  2017-02-01T01:53:00  37.0  1379.505
2  2017-02-01T02:53:00  36.0  1366.106
3  2017-02-01T03:53:00  36.0  1364.453
4  2017-02-01T04:53:00  36.0  1391.265

One of the problems when loading a data set you want to run time series analysis on is the type of object Python sees for the "date" variable. Let's look at the pandas data frame data types for each of our variables.

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26280 entries, 0 to 26279
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    26280 non-null  object
 1   temp    26243 non-null  float64
 2   mw      26280 non-null  float64
dtypes: float64(2), object(1)
memory usage: 616.1+ KB

Here we can see that the Date variable is a general object and not a "date" according to Python. We can change that with the pandas function ```to_datetime``` as we have below.

In [18]:
data['date'] = pd.to_datetime(data['date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26280 entries, 0 to 26279
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    26280 non-null  datetime64[ns]
 1   temp    26243 non-null  float64
 2   mw      26280 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 616.1 KB

Good! Now that we have a ```datetime64``` object in our data set we can easily create other forms of date variables. The hour of day, day of week, month of year, and possibly even the year itself might all impact the energy usage. Let's extract these variables from our date object so that we can use them in our analysis. Pandas has some wonderful functionality to do this with the ```hour```, ```day```, ```dayofweek```, ```month```, and ```year``` functions. Then let's inspect the first few observations to make sure things look correct.

In [20]:
data['hour'] = data['date'].dt.hour
data['weekday'] = data['date'].dt.weekday
data['month'] = data['date'].dt.month
data['year'] = data['date'].dt.year
data.head()

                 date  temp        mw  hour  weekday  month  year
0 2017-02-01 00:53:00  37.0  1419.881     0        2      2  2017
1 2017-02-01 01:53:00  37.0  1379.505     1        2      2  2017
2 2017-02-01 02:53:00  36.0  1366.106     2        2      2  2017
3 2017-02-01 03:53:00  36.0  1364.453     3        2      2  2017
4 2017-02-01 04:53:00  36.0  1391.265     4        2      2  2017

Everything looks good in the first few observations above. If you still aren't convinced you could pull different pieces of the data frame to make sure that other observations are structured correctly.

Now we should set this Python date object as the index of our data set. This will make it easier for plotting as well as forecasting later. We can use the ```set_index``` function for this.

In [23]:
data.set_index('date', inplace=True)

KeyError: "None of ['date'] are in the columns"

Good! Now that we have our data structured as we would like, we can start the cleaning of the data. First, let's check if there are any missing values in the temperature column. The ```is.null``` function will help us here.

In [29]:
data.isnull().sum()

temp       37
mw          0
hour        0
weekday     0
month       0
year        0
dtype: int64

Looks like there are 37 missing values in our temperature data. We shoudl impute those. However, we don't just want to put the average temperature in these spots as the overall average across three years probably isn't a good guess for any one hour. The temperature of the hours on either side of the missing observation would be more helpful. Let's do a linear interpolation across missing values to help with this. This will essentially draw a straight line between the two known points to fill in the missing values. We can use the ```interpolate(method='linear')``` function for this.

In [30]:
data['temp'].interpolate(method='linear', inplace=True)

0

Now let's see if we have any more missing temperature values.

In [31]:
data['temp'].isnull().sum()

0

No more! Time to check if the energy data has any missing values.

No missing values there either! Perfect.

Now it is time to split the data into two pieces - training and testing. The training data set is the data set we will be building our model on, while the testing data set is what we will be reporting results on since the model wouldn't have seen it ahead of time. Using the date index we can easily do this in our data frame.

In [34]:
train = data[:'2019-12-31'].copy()
test = data['2020-01':].copy()

In [33]:
data['2020-01':]

                     temp        mw  hour  weekday  month  year
date
2020-01-01 00:53:00  31.0  1363.428     0        2      1  2020
2020-01-01 01:53:00  29.0  1335.975     1        2      1  2020
2020-01-01 02:53:00  30.0  1296.817     2        2      1  2020
2020-01-01 03:53:00  30.0  1288.403     3        2      1  2020
2020-01-01 04:53:00  31.0  1292.263     4        2      1  2020
...                   ...       ...   ...      ...    ...   ...
2020-01-31 19:53:00  34.0  1618.484    19        4      1  2020
2020-01-31 20:53:00  33.0  1580.925    20        4      1  2020
2020-01-31 21:53:00  33.0  1545.354    21        4      1  2020
2020-01-31 22:53:00  33.0  1478.832    22        4      1  2020
2020-01-31 23:53:00  34.0  1405.188    23        4      1  2020

[744 rows x 6 columns]

Now let's look at the first few observations for our training data set.

In [35]:
train.head()

                     temp        mw  hour  weekday  month  year
date
2017-02-01 00:53:00  37.0  1419.881     0        2      2  2017
2017-02-01 01:53:00  37.0  1379.505     1        2      2  2017
2017-02-01 02:53:00  36.0  1366.106     2        2      2  2017
2017-02-01 03:53:00  36.0  1364.453     3        2      2  2017
2017-02-01 04:53:00  36.0  1391.265     4        2      2  2017

Everything looks good there!

Now let's do the same for our testing data set.

In [36]:
test.head()

                     temp        mw  hour  weekday  month  year
date
2020-01-01 00:53:00  31.0  1363.428     0        2      1  2020
2020-01-01 01:53:00  29.0  1335.975     1        2      1  2020
2020-01-01 02:53:00  30.0  1296.817     2        2      1  2020
2020-01-01 03:53:00  30.0  1288.403     3        2      1  2020
2020-01-01 04:53:00  31.0  1292.263     4        2      1  2020

Excellent! We now have our data cleaned and split. By combining and cleaning the data sets, we will make the exploration of these data sets as well as the modeling of these data sets much easier for the upcoming sections!